ul {
    list-style: none;
}

@media screen and (max-width:2560px) and (min-width:768px) {

    html {
        font-size: 50px;
    }

    .centen {
        font-size: 20px;
    }

    ul {
        display: flex;

        li {
            margin-right: 20px;
        }
    }

    .top {
        width: 100%;
        line-height: 60px;
        border: solid 1px #ccc;
        display: flex;
        justify-content: space-between;

        p {
            // width: 35%;
            // height: 43px;
            // line-height: 43px;
            margin-right: 40px;
            input {
                width: 100%;
                height: 100%;
                border-radius: 5px;
                border: none;
                padding-left: 20px;
                border: solid 1px #000;
            }
        }
    }

    .list {
        width: 100%;
        height: 100%;
        border: solid 1px #ccc;
        margin-top: 10px;

        p {
            width: 100%;
            height: 50px;
            line-height: 50px;
            border-bottom: 1px solid #ccc;
            text-align: left;
            margin-top: 10px;

            span {
                // padding: 60px;
                width: 14%;
                text-align: center;
                display: inline-block;
            }
        }
    }
}

@media screen and (max-width:768px) {
    html {
        font-size: 100px;
    }
    .centen {
        font-size: 0.16rem;
    }
    .All_Grades {
        width: 100%;
        height: 100%;
        .centen {
            width: 90%;
            height: 100%;
            margin: 0 auto;
            margin-top: 10px;


            .list {
                width: 100%;
                height: 100%;
                border: solid 1px #ccc;
                margin-top: 10px;
            
                p {
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                    border-bottom: 1px solid #ccc;
                    text-align: left;
                    margin-top: 10px;
            
                    span {
                        // padding: 60px;
                        width: 14%;
                        text-align: center;
                        display: inline-block;
                    }
                }
            }
        }


    }
}

